[Desktop Entry]
Categories=Audio;Music;Player;AudioVideo;
Comment[it_IT]=
Comment=
Exec=spotify-launcher %U
GenericName[it_IT]=Music Player
GenericName=Music Player
Icon=/home/denny/Immagini/icon/purple_spotify_logo-removebg-preview.png
MimeType=
Name[it_IT]=Spotify (Launcher)
Name=Spotify (Launcher)
Path=
StartupNotify=true
StartupWMClass=spotify
Terminal=false
TerminalOptions=
TryExec=spotify-launcher
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
