[Desktop Action new-empty-window]
Exec=/usr/bin/code-oss --new-window %F
Icon=com.visualstudio.code.oss
Name=New Empty Window

[Desktop Entry]
Actions=new-empty-window;
Categories=TextEditor;Development;IDE;
Comment[en_US]=Code Editing. Redefined.
Comment=Code Editing. Redefined.
Exec=/usr/bin/code-oss --unity-launch %F
GenericName[en_US]=Text Editor
GenericName=Text Editor
Icon=/home/denny/Immagini/icon/Visual_Studio_Code_1.35_icon.svg
Keywords=vscode;
MimeType=text/plain;
Name[en_US]=Code - OSS
Name=Code - OSS
Path=
StartupNotify=false
StartupWMClass=Code
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
