[Desktop Action new-private-window]
Exec=opera --incognito
Name=New Private Window
TargetEnvironment=Unity

[Desktop Action new-window]
Exec=opera --new-window
Name=New Window
TargetEnvironment=Unity

[Desktop Entry]
Actions=new-window;new-private-window;
Categories=Network;WebBrowser;
Comment[it_IT]=Fast and secure web browser
Comment=Fast and secure web browser
Comment[en_US]=Fast and secure web browser
Exec=opera %U
GenericName[it_IT]=Web browser
GenericName=Web browser
GenericName[en_US]=Web browser
Icon=/home/denny/Immagini/icon/opera_touch_browser_logo_icon_152971.png
MimeType=text/html;application/xml;application/x-opera-download;
Name[it_IT]=Opera
Name=Opera
Name[en_US]=Opera
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=opera
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
